@import url('./reset.css');

/* class */
.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}


.cookies {
  background-color: rgba(128, 128, 128, 0.5);
  height: 100vh;
  width: 100vw;
}

.cookies-content {
  background-color: #fff;
  border-radius: 15px;
  display: grid;
  height: 300px;
  padding: 20px;
  place-content: center;
  width: 250px;
}

.cookies-paragraph {
  margin: 15px 0px;
}

.grid {
  display: grid;
  height: 100vh;
  place-content: center;
}